.header{

    text-align:center;

    margin-top:20px;
    margin-bottom:20px;

}

body {

    font-family: 'OpenDyslexic', monospace;

    background: #000000;

    min-height: 100vh;

    color: white;

}


.card {

    aspect-ratio: 1;

    text-decoration: none;

    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 18px;

    border-radius: 0px;

    background: rgba(255,255,255,0.06);

    backdrop-filter: blur(20px);

    border: 1px solid rgba(255,255,255,0.15);

    box-shadow:
        0 10px 30px rgba(0,0,0,0.8);

    transition: all .35s ease;

}


.card i {
    /* qui controllo la dimensione delle icone */
    font-size: 2rem;
    color: #ffbf7a;

    filter: drop-shadow(0 0 10px rgba(122,183,255,.5));

    transition: .3s;
}

.card:hover {

    transform: translateY(-10px) scale(1.05);

    background: rgba(255,255,255,0.12);

    border-color: #ff6200;

    box-shadow:
        0 0 25px rgba(229, 255, 0, 0.35),
        0 20px 50px rgba(0,0,0,.8);

}


#clock {

    font-size: 4rem;

    font-weight: 200;

    letter-spacing: 5px;

    color: #ffffff;

    text-shadow:
        0 0 15px rgba(255,255,255,.25);

    padding-top: 10px;
    margin-bottom: 10px;

}


#date{

    margin-top:10px;

    font-size:2rem;

    color:#bfc9d6;

    letter-spacing:1px;

}

.grid {

    width: min(900px, 90vw);
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;

    padding-top: 1rem;
    padding-bottom: 1rem;

    display: grid;

    /* il secondo parametro controlla la dimensione delle card */
    grid-template-columns: repeat(6, 4rem);

    justify-content: center;

    gap: 1rem;

    /*border-radius: 0px;
    border: 1px solid rgba(255,255,255,0.15);*/

}

@media (max-width: 600px) {

    .grid {
        grid-template-columns: repeat(3, 4rem);
        gap: 25px;
    }

}

@media (max-width: 380px) {

    .grid {
        grid-template-columns: 4rem;
        gap: 20px;
    }

}

.logo-svg {
    /*filter: invert(84%) sepia(9%) saturate(1100%) hue-rotate(165deg) brightness(88%) contrast(83%);*/
    filter: invert(100%);
}