:root {
  --bg: #282828; 
  --bg1: #3c3836;
  --bg2: #504945; 
  --fg: #ebdbb2;
  --yellow1: #d79921;
  --yellow2: #fabd2f;
  --black: #000000;
  --fg1: #fbf1c7;
  --orange: #fe8019;
}

body {
  background-color: var(--bg);
  display: flex;
  justify-content: center;
  /*padding: 20px;*/
  font-family: "Anonymous Pro";
}



.container {
  display: grid;
  width: 60vw;
  height: 1vh;
  grid-template-columns: 20vw 40vw;
  grid-template-rows: 20vh 50vh 20vh;
  grid-gap: 1rem;
  grid-template-areas:
      "header header"
      "sidebar content"
      "footer footer";
}


@media screen and (max-width: 900px) {
.container {
  width: 80vw;
  grid-template-columns: 30vw 50vw;
  grid-template-rows: 20vh 50vh 20vh;
  grid-template-areas:
      "header header"
      "sidebar content"
      "footer footer";
  }
}

@media screen and (max-width: 650px) {
.container {
  width: 90vw;
  grid-template-columns: 89vw;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
      "header"
      "sidebar"
      "content"
      "footer";
  }
}

.header {
  grid-area: header;
  background-image: linear-gradient(90deg, var(--bg) 0%, var(--bg2) 100%);
}

.sidebar {
  grid-area: sidebar;
  background-image: linear-gradient(90deg, var(--bg) 0%, var(--bg2) 100%)
}

.content {
  grid-area: content;
  background-image: linear-gradient(90deg, var(--bg) 0%, var(--bg2) 100%);
}

.footer {
  grid-area: footer;
  background-image: linear-gradient(90deg, var(--bg) 0%, var(--bg2) 100%);
 
}

.item {
  /*background-color: #1EAAFC;*/
  /*background-image: linear-gradient(130deg, var(--bg1) 0%, var(--bg2) 100%);*/
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  color: var(--fg1);
  border-radius: 4px;
  border: 2px solid #171717;
  display: flex;
  flex-direction: column;
  /* Se uso justify-content oppure align-items allora il tag <a> non copre tutta la largezza del div */
  /*justify-content: center;*/
  /*align-items: center;*/
  text-align: center;
  padding: 0.5em;
}

.content {
  display: none;
}

#tops:target, #anti:target, #music:target, #tools:target, #apps:target, #linux:target, #art:target {
  display: flex;
  flex-direction: column;
}

a {
  color: var(--fg1);
  padding: 0.3em;
  border-radius: 1em;
  text-decoration: none;
  position: relative;
  margin-left: 1em;
  margin-right: 1em;
  
}
  
a:hover {
  background-color: var(--yellow1); 
}

a.active {
  background-color: var(--yellow2);  
}

i {
  position: absolute;
  top: 0.38em;
	left: 1em;
  
}